@font-face {
  font-family: 'RetroGaming';
  src: url('../font/retro-gaming.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #2b2d42;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
